name: Build

on:
  push:
    branches: ['*']
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-20.04
    container:
        image: quantconnect/lean:foundation
    steps:
      - uses: actions/checkout@v2

      - name: Checkout Lean Same Branch
        id: lean-same-branch
        uses: actions/checkout@v2
        continue-on-error: true
        with:
          ref: ${{ github.ref }}
          repository: QuantConnect/Lean
          path: Lean

      - name: Checkout Lean Master
        if: steps.lean-same-branch.outcome != 'success'
        uses: actions/checkout@v2
        with:
          repository: QuantConnect/Lean
          path: Lean

      - name: Move Lean
        run: mv Lean ../Lean

      - name: BuildAlphaStreams
        run: dotnet build ./QuantConnect.AlphaStream/QuantConnect.AlphaStream.csproj /p:Configuration=Release /v:quiet /p:WarningLevel=1

      - name: BuildAlphaStreamsDemo
        run: dotnet build ./QuantConnect.AlphaStream.Demo/QuantConnect.AlphaStream.Demo.csproj /p:Configuration=Release /v:quiet /p:WarningLevel=1

      - name: BuildAlphaStreamsTests
        run: dotnet build ./QuantConnect.AlphaStream.Tests/QuantConnect.AlphaStream.Tests.csproj /p:Configuration=Release /v:quiet /p:WarningLevel=1
